.progress-bar{
    display: inline-block;
    width: 100%;
}
    .progress-bar > .texts{
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }
            .progress-bar > .texts >.title{
                display: inline-block;
                float: left;
            }
            .progress-bar > .texts >.value{
                display: inline-block;
                float: right;
            }
    .progress-bar > .bar{
        display: inline-block;
        width: 100%;
        height: 10px;
        background: #ccc;
        border-radius: 5px;
        overflow: hidden;
    }
        .progress-bar > .bar > .value{
            display: inline-block;
            width: 90%;
            height: 100%;
        }
            .progress-bar > .bar > .value > .loading {
                display: inline-block;
                width: 100%;
                height: 100%;
                background: #03A9F3;
                /* animation-name: loading; */
                /* animation-iteration-count: 1; */
                /* animation-duration: 10s; */
                border-radius: 5px;
                animation: loading 2s steps(11) 0s infinite alternate forwards;
            }

        /* selektoriuje parasytos klases be tarpo 
        privalo buti tame paciame elemente salia vienas kito, 
        pirma yra pagrindine klase, o antra detalizuojanti */
@keyframes loading{
    0% {
        width: 0%;
        height: 0%;
        border-radius: 0;
        background-color: #000;
    }
    20% {
        background-color: blue;
    }
    50%{
        background-color: yellow;
    }
    100% {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #03A9F3;
    }
}
 /* po animacijos galutinis vaizdas lieka toks, kaip aprasyta sekcijoje */
/*           .progress-bar > .bar > .value > .loading {                */
